.title h1 {
	font-family: Raleway;
	font-weight: 300;
	text-transform: uppercase;
	animation: letterfade 3s;
	span {
		color: rgba(40,40,40,1);
		display: inline-block;
	}

	#a, #w, #m {
		animation-fill-mode: forwards;
	}
	#a {
		animation: letter-a 3.5s;
	}

	#w {
		animation: letter-w 2.5s;
	}

	#m {
		animation: letter-m 2.5s;
	}

	span.w{
		letter-spacing: -11px;
		margin-right: 11px;
		transform-origin: 75%;
		&.rotate {
			margin-right: 11px;
			margin-left: 5px;
		}
	}
	span.rotate {
		animation: flip-rotate 1.5s;
		transform: rotateX(180deg) rotateY(180deg);
	}
	span.flip {
		animation: flip 1.5s;
		transform: rotateY(180deg);
	}
	span:nth-child(2) {
		animation-delay: 0.5s;
	}
	span:nth-child(3) {
		animation-delay: 1s;
	}
}

@keyframes letterfade {
	0% {
		color: rgba(40,40,40,0);
	}
	80% {
		color: rgba(40,40,40,0);
	}
	100% {
		color: rgba(40,40,40,1);
	}
}

@keyframes letter-a {
  0% {
    transform: translateX(125px) rotateX(180deg) rotateY(180deg);
  }

	45% {
		transform: translateX(125px) rotateX(180deg) rotateY(180deg);
	}

  65% {
    transform: translateX(0px) rotateX(180deg) rotateY(180deg);
  }
	85% {
		transform: translateX(0px) rotateX(180deg) rotateY(180deg);
	}
	100% {
		transform: translateX(0px) rotateX(180deg) rotateY(180deg);
	}
}

@keyframes letter-w {
	0% {
    transform: translateX(75px) rotateY(180deg);
  }
	25% {
		transform: translateX(75px) rotateY(180deg);
	}
  45% {
    transform: translateX(0px) rotateY(180deg);
  }
	65% {
		transform: translateX(0px) rotateY(180deg);
	}
	100% {
		transform: translateX(0px) rotateY(0deg);
	}
}

@keyframes letter-m {
	0% {
    transform: translateX(-98px) rotateX(0) rotateY(180deg);
  }
	25% {
		transform: translateX(-98px) rotateX(0) rotateY(180deg);
	}

  45% {
    transform: translateX(0px) rotateX(0) rotateY(180deg);
  }
	65% {
		transform: translateX(0px) rotateX(180deg) rotateY(180deg);
	}
	100% {
		transform: translateX(0px) rotateX(180deg) rotateY(0deg);
	}
}



.home {
	overflow: hidden;
	section {
		width: 90%;
		margin: 0 auto;
		padding-bottom: 85px;

		@extend %clearfix;
		h1 {
			padding-bottom: 15px;
			margin-bottom: 15px;
			border-bottom: $grey-color-light solid 5px;
		}

		&.recent {
			margin-left: 10%;
			.about {
				float: left;
				width: 55%;
				max-width: 750px;
				.information {
					width: 60%;
				}
			}
			.image {
				float: left;
				width: 45%;
				img {
					max-width: 125%;
				}
			}
		}

		&.other {
			margin-right: 10%;
			h1 {
				text-align: right;
			}

			.projects {
				margin-left: 15%;
			}

			a {
				color: #333;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.project {
	transition: all 400ms;
	margin: 1%;
	width: 31%;
	float: left;
	//box-shadow: 0px 0px 10px black;

	.heading {
		transition: all 400ms;
	}
	img {
		border-top: 5px $grey-color-light solid;
		padding-top: 10px;
		max-width: 100%;
	}
	p {
		font-size: 12px;
		text-align: justify;
	}
}


// Landing Page CSS

.landingPage {
	transition: height 700ms;
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('https://farm3.staticflickr.com/2890/11937894146_0c72f94176_h.jpg');
	background-color: #333;
	background-size: cover;
	.wrap {
		position: relative;
		width: 100%;
		height: 100%;
		canvas {
			width: 100%;
			height: 100%;
		}
		.title {
			transition: top 400ms;
			cursor: pointer;
	    position: absolute;
	    text-align: center;
	    top: 50%;
	    left: 50%;
	    padding: 55px;
			box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	    transform: translate3d(-50%,-50%,0);
	    background-color: rgba(230,230,230,1);
		}
	}
}
