
.home {
	overflow: hidden;
	section {
		width: 90%;
		margin: 0 auto;
		padding-bottom: 85px;

		@extend %clearfix;
		h1 {
			padding-bottom: 15px;
			margin-bottom: 15px;
			border-bottom: $grey-color-light solid 5px;
		}

		&.recent {
			margin-left: 10%;
			position: relative;
			.continue {
				position: absolute;
				bottom: 85px;
				left: 0;
				a {
					color: $grey-color-dark;
					padding: 25px;
				}
			}
			.about {
				float: left;
				width: 55%;
				max-width: 750px;
				.information {
					width: 60%;
				}
			}
			.image {
				float: left;
				width: 45%;
				img {
					max-width: 125%;
				}
			}
		}

		&.other {
			margin-right: 10%;
			h1 {
				text-align: right;
			}

			.projects {
				margin-left: 15%;
			}

			a {
				color: #333;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.project {
	transition: all 400ms;
	margin: 1%;
	width: 31%;
	min-height: 430px;
	float: left;
	//box-shadow: 0px 0px 10px black;

	.close {
		transition: all 400ms;
    opacity: 0;
    padding: 15px 25px;
    font-size: 60px;
    line-height: 1;
    font-weight: 600;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(250, 250, 250, 0.5);

		&:hover {
			cursor: pointer;
			background-color: rgba(250, 250, 250, 0.8);
		}
	}
	.heading {
		transition: all 400ms;
	}
	img, .project-image {
		border-top: 5px $grey-color-light solid;
		padding-top: 10px;
		max-width: 100%;
		background-size: cover;
		min-height: 100px;
	}
	p {
		padding-top: 10px;
		margin-bottom: 0;
		font-size: 12px;
		text-align: justify;
	}
}


// Landing Page CSS

.landingPage {
	transition: height 700ms;
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	//background: url('https://farm3.staticflickr.com/2890/11937894146_0c72f94176_h.jpg');
	background-size: cover;
	.wrap {
		position: relative;
		width: 100%;
		height: 100%;
		canvas {
			transition: height 700ms;
			width: 100%;
			height: 100%;
		}
		.continue {
			transition: top 400ms;
			cursor: pointer;
	    position: absolute;
	    text-align: center;
	    top: 50%;
	    left: 50%;
			.title {
		    padding: 25px 40px;
				border: 5px solid $grey-color-dark;
		    background-color: rgba(250,250,250,1);
			}
			.down-arrow {
				padding-top: 10px;
			}
			h1 {
				letter-spacing: -1.5px;
				font-family: "Helvetica Neue", Helvetica, "Roboto", Arial, sans-serif;
				font-weight: 800;
			}
			h3 {
				font-family: "Playfair Display";
				font-size: 16px;
				color: $grey-color;
			}
			//box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
	    transform: translate3d(-50%,-50%,0);
		}
	}
}
