<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="landingPage">
      <div class="wrap">
        <canvas id="c"></canvas>
        <div class="continue">
          <div class="title">
            <h1>Lawrence Holmes</h1>
            <!-- <h1>L<span id="a" class="rotate">v</span><span id="w" class="flip w">vv</span>rence Hol<span id="m" class="rotate w">vv</span>es</h1> -->
            <h3>Designer & Developer</h3>
          </div>
          <div class="down-arrow">
            <img src="/assets/arrow.png" alt="Continue to Website">
          </div>
        </div>
      </div>
    </div>

    {% include header.html %}

    <div class="page-content">
      <div id="frame" class="animate">
        {{ content }}
      </div>
      <div id="nextFrame" class="animate" style=""></div>
    </div>

    {% include footer.html %}

  </body>

</html>
